#carouselExampleIndicators {
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
}

.carousel-item {
    display: block;
    transform: translateX(100%);
}

.carousel-item.start {
    display: block;
    transform: translateX(100%);
}

.carousel-item.active {
    transform: translateX(0);
}

#buttons .button img {
    width: calc(100% + 4px);
}

#back, #next {
    width: 10%;
}

#buttons {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.8vw;
    margin-right: 0;
    margin-bottom: 0;
    height: 29vw;
}

#buttons .button {
    border-top: 0;
    height: auto;
    width: 7vw;
    text-indent: unset;
    position: relative;
    float: left;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
