/*Убрать полосу прокрутки у элемента*/
.element::-webkit-scrollbar {
    width: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
}

body {
    background-image: url("http://localhost:8080/image/background/background_default.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.05vw;
}

a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}

header a {
    text-decoration: none;
    color: white;
}

header #navigation {
    width: 100%;
    font-size: 0.8vw;
}

#navigation .index {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navigation .bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#search-field,
#links {
    display: flex;
    width: 25vw;
    height: 1.5vw;
    justify-content: space-between;
}

#links {
    margin-top: 0.4vw;
}

#navigation .left,
#navigation .right {
    margin: 0 0.5vw
}

.left a {
    margin-right: 1vw;
}

.right a {
    margin-left: 0.5vw;
}

#account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6vw;
    position: absolute;
    right: 1.5vw;
    color: white;
    text-decoration: none;
}

#account div {
    text-align: center;
}

#account .image {
    width: 45px;
    border-radius: 50%;
}

header nav {
    display: flex;
    justify-content: space-between;
}


div input {
    width: 100%;
    background: none;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.icon {
    width: 1vw;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

#buttons {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.8vw;
    margin-right: 0;
    margin-bottom: 0;
    height: 29vw;
}

#buttons .button {
    border-top: 0;
    height: auto;
    width: 7vw;
    text-indent: unset;
    position: relative;
    float: left;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.block-text {
    display: flex;
    width: 60%;
    margin-top: 3vw;
    justify-content: center;
}

.block-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
    line-height: 2vw;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.background-color {
    background-color: rgb(0,0,0,0.4);
}

.padding-block {
    padding: 1vw 2vw;
}

#add-cart div {
    display: flex;
    flex-direction: row;
}

#add-cart .text-left {
    display: flex;
    align-items: center;
    padding-left: 3vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
}

#add-cart .text-right {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 3vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
}

.to-cart {
    position: absolute;
    bottom: -1em;
    right: 1em;
    padding: 0 1em;
    background: rgb(23 176 0 / 65%);
}

#add-cart button {
    background-color:  rgb(255 255 255 / 5%);
    border: 0;
    color: white;
    width: 8vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}

#system-requirements {
    flex-direction: column;
}

#system-requirements .system {
    flex-direction: row;
}

#system-requirements table td {
    width: 10vw;
    font-size: 0.9vw;
}

#system-requirements .text-left {
    border-right: 1px solid #ffffff45;
}

#system-requirements .main-inscription {
    padding-top: 2vw;
    padding-bottom: 0vw;
    font-size: 1.4vw;
}

#system-requirements .child-inscription {
    align-items: baseline;
    margin-left: 3vw;
}

#system-requirements .text-left,
#system-requirements .text-right {
    padding-top: 0vw;
}

.background.block {
    display: flex;
    width: 83em;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
}

#account-block {
    display: flex;
    width: 70vw;
    flex-direction: row;
    margin-top: 2vw;
}

#user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.name {
    margin-top: 1vw;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
}

#cards {
    padding-right: 2vw;
    width: 42.5vw;
}

#cards .title {
    margin-left: 2vw;
    font-size: 1.3vw;
}

#cards div {letter-spacing: 0.2vw;}

#history-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
    margin-bottom: 2vw;
}

.background.block .game,
.background.block .buy-game,
.delete-cart,
.info {
    display: flex;
    margin: 0 4em 0 3em;
    margin-bottom: 2vw;
    justify-content: flex-end;
}

.background.block .buy-game {
    margin-bottom: 0;
}

#buy, .delete-cart #btn {
    position: inherit;
    margin-left: 2em;
    padding: 0.5em 2.5em;
    background: rgb(255 255 255 / 10%);
    font-size: 1.3em;
    cursor: pointer;
}

.delete-cart #btn {
    margin-top: 1em;
}

.delete-cart {
    margin-bottom: 0;
}

.buy-game .amount {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.cart .info {
    width: 17em;
    text-align: start;
    justify-content: start;
    margin-bottom: 2em;
}

.cart .info div {
    width: 22em;
    text-align: start;
}

.cover img {
    width: 350px;
}

#cards .buttons {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

#history-purchase .title {
    margin-bottom: 2vw;
    font-size: 1.3vw;
}

#description {
    display: flex;
    position: relative;
    align-items: center;
    background: rgb(255 255 255 / 10%);
    justify-content: space-between;
}

#history-purchase #description,
.cart #description {
    width: 100%;
    margin-left: 2vw;
}

#description .left,
#description .right {
    margin: 0px 3vw;
    font-size: 1.2em;
}

#description .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#description .left div,
#description .right div {
    display: flex;
    height: 3vw;
    align-items: center;
}

#description .right div {
    text-align: right;
}

.bank-card {
    display: flex;
    margin-top: 2vw;
}

.bank-card div {
    background: rgb(255 255 255 / 10%);
}

.bank-card .number {
    width: 100%;
    padding-right: 22%;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5vw;
    font-weight: 100;
}

.bank-card .image-payment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bank-card img {
    margin-right: 1vw;
}

.all, .add {
    width: 100%;
    height: 3vw;
    background: rgb(255 255 255 / 10%);
    border: none;
    color: white;
    font-size: 1.3vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
}

.all {
    margin-right: 1vw;
}

.add {
    margin-left: 1vw;
}

.card-form.active {
    display: flex;
}

.card-form {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    transition: all .3s;
    color: black;
    flex-direction: column;
}

#add-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 3%;
    height: 348px;
    width: 609px;
}

.close {
    display: flex;
    width: 609px;
    color: white;
    justify-content: flex-end;
    font-size: 3vw;
}

#add-card .block-number {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    flex-direction: column;
}

.secret-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#add-card input {
    border: 1px solid black;
    color: black;
}

.block-cvc {
    margin-right: 1vw;
}

.block-cvc {
    margin-left: 1vw;
}

.number input {
    border: 1px solid black;
}

#add-card .block-number,
#add-card .secret-date,
#add-card .button {
    padding: 0 4vw;
    width: 100%;
}

#add-card #accept {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

/*catalog*/

#category-adventure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

#category-adventure .block-title {
    width: 100%;
}

.collection-games {
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    max-width: 1700px;
    justify-content: center;
}

.collection-games .game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.7em;
}

.collection-games .game-cover {
    position: relative;
}

.collection-games img {
}

.price {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(0,0,0, 0.7);
    border-radius: 1em 0 0 0;
    padding: 0vw 1vw;
}

.block-title {
    display: flex;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.banner .content {
    display: flex;
    position: absolute;
    height: 2em;
    background: rgb(0,0,0,0.4);
    margin: 0 1.1em;
    padding: 0 1em;
    border-radius: 1em 0 1em 0;
    align-items: center;
    font-size: 1.4em;
}

.block-title .content {
    display: flex;
    height: 2em;
    background: rgb(0,0,0,0.4);
    margin: 0 1.1em;
    padding: 0 1em;
    border-radius: 1em 0 1em 0;
    align-items: center;
    font-size: 1.4em;
}

.banner .content {
    position: absolute;
}

.banner .inscryption-category img {
    width: 1423px;
}

.collection-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
    flex-direction: column;
}

.category-row {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1em;
    z-index: 1;
}

.category-row .background-row {
    background-color: rgb(0 0 0 / 40%);
    z-index: 0;
}

.category-row .name {
    font-size: 1.7em;
    margin-left: 1em;
}

.category-row .price {
    font-size: 1.3em;
    text-align: end;
    margin-right: 2em;
    margin-bottom: 0.3em;
    position: relative;
    background: none;
}

.category-row .covers {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 67em;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.category-row .covers .screens {
    display: flex;
}

.category-row .covers .screen {
    position: relative;
    left: -30px;
    z-index: 0;
}

.category-row .covers picture {
    z-index: 1;
}

.category-row .covers picture img {
    width: 261px;
}

.category-row .covers .screen img {
    width: 200px;
}

.category-row .covers .screen img:hover {
    position: absolute;
    width: 350px;
    top: -2em;
}

.category-row .covers .screen:hover {
    width: 200px;
    z-index: 2;
}

.loading-block {
    width: 100%;
}

.loading-block .name-category {
    margin-bottom: 1em;
    font-size: 1.3em;
    background: rgb(255 255 255 / 10%);
    padding: 0.2em 2em;
    border-radius: 0 0 1em 1em;
}

.collection-category {
    background: rgb(0 0 0 / 40%)
}

.collection-category .games {
    display: flex;
    margin-bottom: 3em;
}

.collection-category .game {
    position: relative;
    margin: 0 1em;
}

.collection-category .price {
    padding: 0em 1.5em;
    box-shadow: inset 1px 5px 9px -7px;
}

.collection-category img {
    width: 25em;
}

/* cart */

.cart .title {
    margin: 1em 0;
    font-size: 1.8em;
}

#description .right .trash {
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    padding: 0.2em;
    background: red;
    height: auto;
}

.cart .trash img {
    width: 1.5em;
}
